
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}

.headline_grid {  
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1rem 2rem; 
  grid-template-areas: 
    "Main_containr Main_containr short-container"
    "Main_containr Main_containr short_container2"
    "short_container3 short_container4 short_container5"; 
  /* width: 90rem;  */
  
}
.headline_grid2 {  
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1rem 2rem; 
  margin-top: 2rem;
  grid-template-areas: 
    "short-container Main_containr Main_containr"
    "short_container2 Main_containr Main_containr"
    "short_container3 short_container4 short_container5"; 
  /* width: 90rem;  */
}

.Main_containr { grid-area: Main_containr; }
.short_container { grid-area: short-container; }
.short_container2 { grid-area: short_container2; }
.short_container3 { grid-area: short_container3; }
.short_container4 { grid-area: short_container4; }
.short_container5 { grid-area: short_container5; }

.short_container,
.short_container2,
.short_container3,
.short_container4,
.short_container5 {
  width: 20rem;
}

