.header {
  color: black;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo_box {
  cursor: pointer;
}


.login_btn {
  background-color: #222;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 1.5;
  margin: 0;
  max-width: none;
  /* min-height: 44px; */
  min-width: 8rem;
  outline: none;
  overflow: hidden;
  /* padding: 9px 20px 8px; */
  padding: .5rem 0;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.login_btn:hover,
.login_btn:focus {
  opacity: .85;
}

.header_nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.nav_option {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav_option li {
  margin: 0 2rem;
  cursor: pointer;
  padding: 1rem .5rem;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}

.nav_option li:hover {
  border-bottom: 2px solid black;
}

.right_header {
  display: flex;
}
.search_box {
  margin-right: .4rem;
  display: flex;
}

.search_box button {
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.401);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s;
}

.search_box button:hover {
  background-color: black;
}

.search_input {

  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 15rem;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f453;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
}
.search_input:focus{
  outline: 2px solid #3c3c3c;
  outline-offset: -2px;
}